{% extends 'base.html'%}

{% block title %} <title>Our School | AGMS</title> {% endblock %}

{% block content %}
	<section class="hero-wrap hero-wrap-2" style="background-image: url(https://drive.google.com/uc?export=view&id=1ObTZ_408sLpqU65d9ObOuEIINhTiPBTZ);">
		<div class="overlay"></div>
		<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">Our School</h1>
				<p class="breadcrumbs" style="text-shadow: 2px 2px 7px #000000;"><span class="mr-2"><a href="/home" >Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Our School<i class="ion-ios-arrow-forward"></i></span></p>
			</div>
		</div>
		</div>
		</section>

		<br><br>
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row">
					<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
          				<h1 class="section_title mb-4">Overview of Amazing Grace Montessori School</h1>
						<p>A Christian School founded on 14th September, 2015, with the core value of educating children in the fear of the Lord.</p>
						
						<div>
							<h3 class="mb-4"><span class="icon icon-flag" style="background-color: #ffffff; color:#f04747;"></span> 
								Our Mission</h3>
							<div>
								<p>
										To provide the child with the opportunity to acquire an education founded on the educational philosophy of Dr. Maria Montessori blended with
										the Ghana Education Service curricular and the Good News of our Lord Jesus Christ.
								</p>
							</div>
						</div>
						
						
						<h3 class="mb-4">What We Offer</h3>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
									<div class="text">
										<h3>Safety First</h3>
										<p>We are very concerned with security of your child</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
									<div class="text">
										<h3>Regular Classes</h3>
										<p>Lessons are very important to us so we make sure we adhere to our lesson schedules</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
									<div class="text">
										<h3>Certified Teachers</h3>
										<p>We apply certified teachers to teach our assets: the children</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
									<div class="text">
										<h3>Sufficient Classrooms</h3>
										<p>The learning environment is convenient and outstanding for your child</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
									<div class="text">
										<h3>Creative Lessons</h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
									<div class="text">
										<h3>Playing Facilities</h3>
										<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
									</div>
								</div>
							</div>		
						</div>
					</div>
					<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light" style="height:900px;">
						<div class="text px-4 ftco-animate">
							<h1 class="section_title">AGMS ANTHEM</h1><br>
							<p>There is a wondrous school in our generation.</p>
							<p>The name of the school is Amazing Grace.</p>
							<p>We will train up your child in the way he should go, when he grows he will never depart from it.</p>
							<p>We are God fearing, hardworking.</p>
							<p>We are motivated.</p>
							<p>We are united.</p>
							<p>We are dedicated to excellence.</p>
							<p>We will train up your child in the way he should go.</p>
							<p>Amazing Grace we will train up your child.</p>
							<p>Amazing Grace we will train up your child.</p>
							<p>We will train up your child in the way he should go, when he grows he will never depart from it.</p>
						</div>
					</div>
					
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4" style="color: rgba(203,23,23,1);"><span style="color:#f04747;">Management</span> and Staff</h2>
					<p>Meet Our Handworking and Commited Management and Staff who are passionate about children and highly concerned about how they contribute to each child’s future</p>
				</div>
			</div>
			<div class="card-deck">
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1T34OGDGVjzd3hsflHm0Qy20faZgfr8n8" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Uncle Osei</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1_-bbik6eva1istsNHLVmAGYRRRg6MRIB" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Josephine</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1J9ItrwCBlWmNnsEmK4u5g0_A0w39S8OA" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Charlotte</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1z9YZdYoJAJSK3ZgvIkRVMFL7REAinQv1" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Agnes</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1dMMkP5Rk1YNYg-VxYdLbN0Wjxlo3sfEB" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Nuzrat</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1E2-QF-YW-9fDihCnxYIEBhVkkOFoI6au" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Uncle Richard</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
			</div>

			<div class="card-deck">
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1T_YhNHL3ToaL02spJsoE34I7c3XlFNTn" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Uncle Emma</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1CZjyxT8GhR3KS4dKIk-r4cvnqD0afSLw" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Gifty</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=12Hb1K0S2kqmF9JHSKxTEiBW_gwRWguG1" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Uncle Sammy</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1kylQb5MOo4Z0wyjEPCstAgFbgLYPjkzW" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Lizzy</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=10lo8oKLUkVedsdDNONMOBJZG62gdTZKx" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Uncle Theo</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=14mvyM3BtoS1Nf_uX9TkNOLIpO2pcv2Hf" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Christy</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
			</div>

			<div class="card-deck">
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1wxbNpS1DRacEvb9xj83gHF8f2TIzH7ol" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Tina</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1jJDo1iq8b7aFsWDMTl498nQljYmdpx_r" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Esther</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1obnh-s3R6DYzhTlvDQZiKNSwzAJgOsJ2" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Gloria</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=16oYb4cBVB1hlZwfA2DR0r0K05Zx6lyyS" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Mandy</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1B0foqp5Fh7DJpU5tQzhqdgHzl6mVp1pN" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Ewurama</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1pWWFDeGa4DKJ_HMnoP2Nn3jS24QCaORX" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Vic</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
			</div>
			<div class="card-deck">
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=15WDkpTVDk24h-gp-8w5aMnpCPsgZwfC5" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Dorcas</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1J2TpwKsehX6cA9PZd4Z6iSSoKFZhDVtm" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Salomey</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1SOaQmg7OpZ0TCrjgTM_bl-jeuQVSBJ5X" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Jane</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1T9jsytLZPxsKlVgrlpHgMXWQHcvglT6j" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Matilda</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1-Zzl8ZXYEioyd8cUIH8rVlGQyLIo4Mj7" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Aunt Christy</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
				<div class="card">
					<img src="https://drive.google.com/uc?export=view&id=1FXVRgR42j1NC4OoA8tFvAPfe8jELhPV4" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Uncle Randy</h5>
						<p class="card-text">Staff</p>
					</div>
				</div>
			</div>

		</div>
	</section>
{% endblock %}