{% extends 'base.html'%}

{% block title %} <title>Admission | AGMS</title> {% endblock %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url(https://drive.google.com/uc?export=view&id=1ObTZ_408sLpqU65d9ObOuEIINhTiPBTZ);">
  <div class="overlay"></div>
  <div class="container">
  <div class="row no-gutters slider-text align-items-center justify-content-center">
    <div class="col-md-9 ftco-animate text-center">
      <h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">Admission</h1>
      <p class="breadcrumbs" style="text-shadow: 2px 2px 7px #000000;"><span class="mr-2"><a href="/home" >Home <i class="ion-ios-arrow-forward"></i></a></span> <span> Admission<i class="ion-ios-arrow-forward"></i></span></p>
    </div>
  </div>
  </div>
  </section>
  <br><br>

<section id="content">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
          <div class="jumbotron">
              <h1 class="section_title">Enrollment Info</h1>
              <h2>Admission Process</h2>
              <div>
                  <p>AGMS admission process begins with a tour and interview:</p>
                  <ul style="list-style:none;">
                      <li>
                          <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:rgb(240, 71, 71);"></span>
                          Request an appointment with the school.
                      </li>
                      <li>
                          <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:rgb(240, 71, 71);"></span>
                          Become acquainted with our school.
                      </li>
                      <li>
                          <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:rgb(240, 71, 71);"></span>
                          Receive a personal orientation to the our classrooms.
                      </li>
                      <li>
                          <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:rgb(240, 71, 71);"></span>
                          Ask Questions.
                      </li>
                      <li>
                          <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:rgb(240, 71, 71);"></span>
                          Learn if there are current vacancies or a waiting list.
                      </li>
                  </ul>
                  <p>
                      Our administrative director meets with you and may meet with your child to determine your child’s readiness. We also want to know what you’re seeking in a school experience, so we can personalize your child’s early education experience from the very beginning.
                  </p>
                  <p>
                      We consider each child’s admission and placement individually, regardless of race, religion, color, gender, or national origin, and admit each student on a six-week provisional basis. At the end of the six-week period, we discuss your child’s progress and explore next steps.
                  </p>
                </div>
              <h3>Ready to enroll?</h3>
              <p>
                Have you already visited Amazing Grace Montessori School and are now ready to enroll? We have got you covered.
              </p>

              </div>

        </div>

        <div class="col-md-6" >
              <div class="jumbotron" >
                <h1 class="section_title">Application and Forms</h1>
                  <h2>Admission Forms</h2>
                <p>
                    All forms needed for the admission process may be found on this page from the links below. Simply fill out and submit the forms to the Administrative Director's office.
                </p>
                <div>
                    <h6>Forms are:</h6>
                    <ul style="list-style:none;">
                        <li>
                            <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:rgb(240, 71, 71);"></span>
                            <a href="#" class="init" style="font-size:12pt; color:#f04747; text-decoration:none;">AGMS Admission Application</a>
                            <p>You can contact the school if you need help to complete and submit the form.</p>
                        </li>
                        <!--<li>
                            <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:rgb(240, 71, 71);"></span>
                            <a href="#" style="font-size:12pt; color:#f04747; text-decoration:none;">Emergency Medical Consent</a>
                        </li>
                        <li>
                            <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:rgb(240, 71, 71);"></span>
                            <a href="#" style="font-size:12pt; color:#f04747; text-decoration:none;">Parent Contact Form</a>
                        </li>
                        <li>
                            <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:rgb(240, 71, 71);"></span>
                            <a href="#" style="font-size:12pt; color:#f04747; text-decoration:none;">School Field Trip Permission</a>
                        </li>-->
                    </ul>
                </div>

                <div>
                    <h6>
                      For your child’s safety, and to comply with state regulations, all enrollment papers and health records must be completed before your child can begin school.
                     <br> Should your family have additional enrollment considerations, please note we have specific paperwork for children with Special Needs, Severe Allergies, and Blood Glucose/Diabetes Management needs.
                    </h6>
                    <h6>For further enquiries:</h6>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/contact" title="Contact Us to Enroll Child" class="btn btn-secondary px-4 py-3" style="background: linear-gradient(247deg, rgba(203,23,23,1) 0%, rgba(240,71,71,0.9468164336815309) 100%); border:none; text-shadow: 2px 2px 7px #000000; "><b>Contact Us Now</b></a></span></p>
                </div>
              </div>

          </div>
    </div>
  </div>
</section>
<br>
<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a class="gallery img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=109lHbo53DuNuwkWen1JwB00I2Hwi531N);"></a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a class="gallery img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=18rpeLqhe0mr4fx4uE5py-S3xQkacwrN2);"></a>
            </div>
            <div class="col-md-3 ftco-animate">
              <a class="gallery img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1Wo9OPYWEppqFWG_-PlekLQdtJgH5uizx);"></a>
            </div>
            <div class="col-md-3 ftco-animate">
              <a class="gallery img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1yaWUEHayiaPXD3hXzkVQS3bb1XbC4RZl);"></a>
            </div>
        </div>
     </div>
  </section>

<div class="OTP-main">
      <div class="blurred"></div>

      <div class="card text-center OTP-sub">
        <div class="card-header" >
            <div style="float: left;" id="OTP_alert">
                <div class="alert alert-info alert-dismissible" id="OTP_msg" style="display:inline;font-size: 11pt; text-align: left;" role="alert"> </div>
            </div>
            <button type="button" class="quit btn-danger" style="display: inline;">&CircleTimes;</button>
        </div>

        <div class="card-body" style="text-align:left;">
            <h5 class="card-title" style="text-align: center; font-weight: bolder; font-size: 18pt;">Enter password given by school</h5>
            <h5 class="card-text" style="text-align: left; font-weight: 500; font-size: 12pt;">In order to access the Admission forms, enter the password given to you by the school</h5>
          <form action="#" method="get">
                <div class="form-group ">
                    <label for="OTP_label">OTP (One Time Password): </label>
                    <input type="text" name="inputOTP" id="OTP_label" maxlength="7" class="form-control"
                    placeholder="Enter OTP here ..." required>
                </div>
                <button type="submit" class="btn btn-danger mb-2" id="OTP_send">Submit</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            AMAZING GRACE MONTESSORI SCHOOL
        </div>
    </div>
    </div>




 
{% endblock %}