{% extends 'base.html'%}

{% block title %} <title>Admission | AGMS</title> {% endblock %}

{% block content %}


<!--Start Nav-->
<nav class="navbar navbar-expand-lg ftco-navbar-light" id="ftco-navbar" style=" background: linear-gradient(to right, #9603bb, #f005d0);">
    <div  class="container d-flex align-items-center">
      <a class="navbar-brand" href="/home">
        <img src="../static/images/banner/brand.png" width="150" height="100" alt="AMAZING GRACE MONTESSORI SCHOOL">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation" style="color:#ffffff;">
        <span class="oi oi-menu" style="color:#ffffff;"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto" >
          <li class="nav-item"><a href="/home" class="nav-link" > Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">Our School</a></li>
          <li class="nav-item active"><a href="/admission" class="nav-link">Admission</a></li>
          <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
            <ul class="dropdown-menu" >
                <li class="nav-item" style="margin-left:15px;"><a class="nav-link" href="/gallery/future_career" style="color: #9603bb;">Future Career Day</a></li>
                <li class="nav-item" style="margin-left:15px;"><a class="nav-link" href="/gallery/culture_awareness" style="color: #9603bb;">Culture Awareness Day</a></li>
                <li class="nav-item" style="margin-left:15px;"><a class="nav-link" href="/gallery/sch_album" style="color: #9603bb;">Album</a></li>
            </ul>
          </li>
          <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Academics</a>
            <ul class="dropdown-menu" >
                <li class="nav-item" style="margin-left:15px;"><a class="nav-link" href="/academics/calendar" style="color: #9603bb;">Calendar</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- END nav -->
  
<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/banner/banner_2.png');">
  <div class="overlay"></div>
  <div class="container">
  <div class="row no-gutters slider-text align-items-center justify-content-center">
    <div class="col-md-9 ftco-animate text-center">
      <h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">Admission</h1>
      <p class="breadcrumbs" style="text-shadow: 2px 2px 7px #000000;"><span class="mr-2"><a href="/home" >Home <i class="ion-ios-arrow-forward"></i></a></span> <span> Admission<i class="ion-ios-arrow-forward"></i></span></p>
    </div>
  </div>
  </div>
  </section>
  <br><br>

  <section id="content">
    <div class="container">
    <div class="row">
    
    <div class="col-md-6">
      <div class="jumbotron">
          <h1 class="section_title">Enrollment Info</h1>
          <h5>Admission Requirements (2018/2019 Year)</h5>
          <p>
            <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:#9603bb;"></span>
            Admission fee plus School fess equals <b>Ghc 800.00</b> (Mode of payment negotiable)
          </p>
          <p>
            <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:#9603bb;"></span>
            Things to be supplied to child after admission:
            <ul>
              <li>Set of text books</li>
              <li>2 sets of uniform</li>
              <li>1 Lacoste</li>
              <li>1 set of crayon</li>
              <li>1 file</li>
              <li>Purified water for the term</li>
            </ul>
          </p>
          <p>
            <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:#9603bb;"></span>
            Also, Parents of a newly admitted child would have to provide the following toiletries:
            <ul>
              <li>2 baby wipes</li>
              <li>2 mini sunlight soaps</li>
              <li>Medium sized washing powder</li>
              <li>A Camel Detergent</li>
            </ul>
          </p><br>
          <p class="breadcrumbs"><span class="mr-2"><a href="/contact" title="Contact Us to Enroll Child" class="btn btn-secondary px-4 py-3" style="background: linear-gradient(to right, #9603bb, #f005d0); border: thin #f005d0; text-shadow: 2px 2px 7px #000000; "><b>Contact Us Now</b></a></span></p>
      </div>
       
    </div>
    
      <div class="col-md-6">
          <div class="jumbotron" >
            <h3 class="section_title">Other Info</h3>
            <p>
              <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:#9603bb;"></span>
              Subsequent term carries a termly School fees of <b>Ghc 275.00</b> in three installments of <b>Ghc 92.00, 92.00 </b> and <b>Ghc 91.00</b>
            </p>
            <p>
              <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:#9603bb;"></span>
              Daily feeding fee of <em>Ghc 2.00 - Ghc 2.50</em>
            </p>
            <p>
              <span class="icon icon-format_list_bulleted" style="background-color: #f1f1f1; color:#9603bb;"></span>
              The school provides pupils with bus services that cost <b>Ghc 65.00</b> for a month.
              Call <u><b>+233 20 667 0703</b></u> for further clarification
            </p>
          </div>
          <div class="adm_pic">
            <img src="../static/images/admission/admission.jpg" alt="" class="admit" style="width:585px; height: 418px;">
          </div>
      </div>
    </div>
    </div>
  </section>  <br>     

  <section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a class="gallery img d-flex align-items-center" style="background-image: url(../static/images/admission/admission_1.jpg);"></a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a class="gallery img d-flex align-items-center" style="background-image: url(../static/images/admission/admission_2.jpg);"></a>
            </div>
            <div class="col-md-3 ftco-animate">
              <a class="gallery img d-flex align-items-center" style="background-image: url(../static/images/admission/admission_3.jpg);"></a>
            </div>
            <div class="col-md-3 ftco-animate">
              <a class="gallery img d-flex align-items-center" style="background-image: url(../static/images/admission/admission_4.jpg);"></a>
            </div>
        </div>
     </div>
  </section>       



 
{% endblock %}