{% extends 'base.html'%}

{% block title %} <title>Gallery | AGMS</title> {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url(https://drive.google.com/uc?export=view&id=1ObTZ_408sLpqU65d9ObOuEIINhTiPBTZ);">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">Gallery</h1>
            <p class="breadcrumbs" style="text-shadow: 2px 2px 7px #000000;"><span class="mr-2"><a href="/home" >Home <i class="ion-ios-arrow-forward"></i></a></span> <span> Gallery <i class="ion-ios-arrow-forward"></i> Culture Awareness</span></p>
            </div>
        </div>
        </div>
    </section>
    <br>
<!--GALLERY-->
    <br>
    <section class="ftco-gallery">
        <div class="container-wrap">
            <div class="row no-gutters">
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=1AcxXoet2aPi-i58JQqvXILOEMB_iCv_r" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1AcxXoet2aPi-i58JQqvXILOEMB_iCv_r);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=12j8E9LE515pSi5p5nd2kNbiRDo6ee1qp" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=12j8E9LE515pSi5p5nd2kNbiRDo6ee1qp);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=15t7CwtTXsw3HqB9fLwjxd6c1WgRUc9VP" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=15t7CwtTXsw3HqB9fLwjxd6c1WgRUc9VP);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=1O0R4hQD_S-oLMh27WH9QqJ4eF5QroeK9" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1O0R4hQD_S-oLMh27WH9QqJ4eF5QroeK9);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1GGxox-VDVQFqgreEGtqRfEqZPr08yS5X" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1GGxox-VDVQFqgreEGtqRfEqZPr08yS5X);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1iuvzKzyPgYNuo74iX9ht8aIcZB1h7j0A" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1iuvzKzyPgYNuo74iX9ht8aIcZB1h7j0A);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1aBmaorhxqXoFksMIaawrFLaZsqUK5O68" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1aBmaorhxqXoFksMIaawrFLaZsqUK5O68);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=12ixvQ--duxEJNbdUoNX0ymtytSqnJWOz" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=12ixvQ--duxEJNbdUoNX0ymtytSqnJWOz);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1KTAUZzYOaYYnWNvxAwB3JkIeXeaVgMJ6" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1KTAUZzYOaYYnWNvxAwB3JkIeXeaVgMJ6);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=19RBlDbiFMSctUg0cH1WkBDonljOadQPz" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=19RBlDbiFMSctUg0cH1WkBDonljOadQPz);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </section>
    <br><br>
{% endblock %}