{% extends 'base.html'%}

{% block title %} <title>404 - Page Not Found | AGMS</title> {% endblock %}

{% block error %}
<br>
<div class="jumbotron text-center">
    <span class="icon icon-search" id="error"></span>
    <img src="https://drive.google.com/uc?export=view&id=1NP-6cdV6khTdSpMU9NyPhd1sMGu3fjal" alt="" class="error_img"><br><br>
    <h1 class="error">SORRY, PAGE NOT FOUND</h1>
    <a href="/home" style="color: rgba(203,23,23,1); text-decoration-line:underline; font-size:12pt;">Click on link to redirect to Homepage</a>
</div>
<br>
{% endblock %}
