{% extends 'base.html'%}

{% block title %} <title>500 - Internal Server Error | AGMS</title> {% endblock %}

{% block error %}
<br>
<div class="jumbotron text-center">
    <span class="icon icon-error" id="error"></span>
    <img src="../static/images/banner/500.png" alt="" class="error_img"><br><br>
    <h1 class="error">INTERNAL SERVER ERROR</h1>
    <a href="/home" style="color: #9603bb; text-decoration-line:underline; font-size:10pt;">Click on link to redirect to Homepage</a>
</div>
<br>
{% endblock %}
