{% extends 'base.html'%}

{% block title %} <title>Gallery | AGMS</title> {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url(https://drive.google.com/uc?export=view&id=1ObTZ_408sLpqU65d9ObOuEIINhTiPBTZ);">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">Gallery</h1>
            <p class="breadcrumbs" style="text-shadow: 2px 2px 7px #000000;"><span class="mr-2"><a href="/home" >Home <i class="ion-ios-arrow-forward"></i></a></span> <span> Gallery <i class="ion-ios-arrow-forward"></i> Future Career</span></p>
            </div>
        </div>
        </div>
    </section>
    <br>
<!--GALLERY-->
    <br>
    <section class="ftco-gallery">
        <div class="container-wrap">
            <div class="row no-gutters">
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=1wrHnXrBVeubBsUqLLGs40KpFlao45thp" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1wrHnXrBVeubBsUqLLGs40KpFlao45thp);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=1T9uWgkyzfiGi16C-ACkW-7JOzRZV1bNq" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1T9uWgkyzfiGi16C-ACkW-7JOzRZV1bNq);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=1JEjHYy4cgPFRi7ygOZ_0pX0Y1XQfI1O4" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1JEjHYy4cgPFRi7ygOZ_0pX0Y1XQfI1O4);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=1vm7N5WuwW8JL8lgT6JVV_qUveIdrvfbd" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1vm7N5WuwW8JL8lgT6JVV_qUveIdrvfbd);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=10u74G_rtLZZnT1fduGs_XBCc468WfPH2" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=10u74G_rtLZZnT1fduGs_XBCc468WfPH2);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1aXiqcRRAEYK7yYgIrCk2kvsQXr_NcSJj" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1aXiqcRRAEYK7yYgIrCk2kvsQXr_NcSJj);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1A5ixIqnGevqFdeJ98bXzfOlPNkLFRkt7" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1A5ixIqnGevqFdeJ98bXzfOlPNkLFRkt7);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1W90DWP3zzrOaJhv6rp8eR0JgLNMX623e" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1W90DWP3zzrOaJhv6rp8eR0JgLNMX623e);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1EOT3xkSgw_VH1atNQj3YkSQtgb7PZvBp" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1EOT3xkSgw_VH1atNQj3YkSQtgb7PZvBp);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1ZwfGmcGpSWWmuBrvtb18aU92mHGo1Nol" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1ZwfGmcGpSWWmuBrvtb18aU92mHGo1Nol);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1s2Cs7UpUNdoF5ySjgqHaADpz41am73Cl" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1s2Cs7UpUNdoF5ySjgqHaADpz41am73Cl);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1PG78flevA5R0LaVM3cfYCmSCMMs1s3q4" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1PG78flevA5R0LaVM3cfYCmSCMMs1s3q4);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=18SYa8HcT5SRGCU1bKBFche1Vj9uXht0F" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=18SYa8HcT5SRGCU1bKBFche1Vj9uXht0F);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1Pk3DlY4M8KkoXDeZaSTP24VoOXClNiQ1" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1Pk3DlY4M8KkoXDeZaSTP24VoOXClNiQ1);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1Jmcr0MfDc_99-syGn-NaHVqekZ0gDAKS" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1Jmcr0MfDc_99-syGn-NaHVqekZ0gDAKS);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </section>
    <br><br>
{% endblock %}