{% extends 'base.html'%}

{% block title %} <title>Home | AGMS</title> {% endblock %}

{% block content %}

<section class="home-slider owl-carousel">
  <div class="slider-item first_bg" style="background-image:url(https://drive.google.com/uc?export=view&id=1e4Zpcl92N_Zu8Y1yU0Wh8p8XK3qj6wv3);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-8 text-center ftco-animate">
        <h1 class="mb-4" style="font-weight: 400; text-shadow: 2px 2px 7px #000000;">Welcome to Amazing Grace <span>Montessori School</span></h1>
      </div>
    </div>
    </div>
  </div>
  
  <div class="slider-item" style="background-image:url(https://drive.google.com/uc?export=view&id=1ObTZ_408sLpqU65d9ObOuEIINhTiPBTZ);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-8 text-center ftco-animate">
        <h1 class="mb-4" style="font-weight: 400; text-shadow: 2px 2px 7px #000000;">Children Are The Best <span>Explorers In The World</span></h1>
      </div>
    </div>
    </div>
  </div>

  <div class="slider-item" style="background-image:url(https://drive.google.com/uc?export=view&id=1MR4M40MQX7LONZaHjnlBhGmLrmY-NtmO);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-10 text-center ftco-animate">
        <h1 class="mb-4" style="font-weight: 400; text-shadow: 2px 2px 7px #000000;">Perfect Learning Environment<span> For Your Child </span></h1>
      </div>
    </div>
    </div>
  </div>

</section>

<section class="ftco-services ftco-no-pb">
  <div class="container-wrap">
    <div class="row no-gutters">
      <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate" style=" background: linear-gradient(247deg, rgba(203,23,23,1) 0%, rgba(240,71,71,0.9468164336815309) 100%); ">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-security"></span>
          </div>
          <div class="media-body p-2 mt-3" >
            <h3 class="heading">Safety</h3>
            <p style="color:rgb(236, 236, 236);">Protecting your child is our main priorty and at AGMS we deliver that with pride.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary" style=" background: linear-gradient(247deg, rgba(203,23,23,1) 0%, rgba(240,71,71,0.9468164336815309) 100%); ">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-reading"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Special Education</h3>
            <p style="color:rgb(236, 236, 236);">We make life joyful and happy for every child.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth" style=" background: linear-gradient(247deg, rgba(203,23,23,1) 0%, rgba(240,71,71,0.9468164336815309) 100%); ">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-books"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Facilities</h3>
            <p style="color:rgb(236, 236, 236);">Our focus is to provide safe and secure environment for holistic development of children.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary" style=" background: linear-gradient(247deg, rgba(203,23,23,1) 0%, rgba(240,71,71,0.9468164336815309) 100%); ">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-teacher"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Certified Teachers</h3>
            <p style="color:rgb(236, 236, 236);">Professionals who know how to best help children discover the joys of learning.</p>
          </div>
        </div>      
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
        <div class="text px-4 ftco-animate">
          <h2 class="mb-4">Overview of Amazing Grace Montessori School (AGMS)</h2>
          <img src="https://drive.google.com/uc?export=view&id=1NrbWViHBSxXdulElAPqlsM0xtHAg_8MT" class="col-md-7 text-center heading-section ftco-animate" style="float:left;">
          <p style="font-size: 14pt;">A Christian School founded on 14th September, 2015. The core value of the school is educating children in the fear of the Lord.</p>
          <p style="font-size: 14pt;">At AGMS, we dream of a world where every child can laugh, dance, sing, learn, live in peace and be happy.</p>
          <p style="font-size: 14pt;">We train up children in the Fear of the Lord with absolute love <span class="icon icon-heart" style="background-color: #fff; color: #f04747f1; "></span></p>
          <p><a href="/about" class="btn btn-secondary px-4 py-3" style="text-shadow: 2px 2px 7px #000000;  background: linear-gradient(247deg, rgba(203,23,23,1) 0%, #f04747f1 100%);  border: thin #f04747f1; ">Read More</a></p>
          
        </div>
      </div>
      <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
        <h1 class="mb-4">Our Services</h1>
        <p style="font-size: 16pt;">Here are the services Amazing Grace Montessori school provide to their clients.</p>
        <div>
          <ul>
            <li>
                <p style="font-size: 20pt; vertical-align: top;"><span class="icon icon-child" style="background-color: #ffffff; color: rgba(240,71,71,0.9468164336815309);  margin-right: 30px;"></span>Day Care</p>
            </li>
            <li>
                <p style="font-size: 20pt; vertical-align: middle;"><span class="icon icon-institution" style="background-color: #ffffff; color: rgba(240,71,71,0.9468164336815309);  margin-right: 20px;"></span>Pre-School</p>
            </li>
            <li>
                <p style="font-size: 20pt; vertical-align: bottom;"><span class="icon icon-graduation-cap" style="background-color: #ffffff; color: rgba(240,71,71,0.9468164336815309);  margin-right: 14px;"></span>Basic Education</p>
            </li>
          </ul>
        </div>
        <div class="adm_pic">
          <h1 style="font-size: 18pt; font-weight:600;">Watch video to see the excitement at Amazing Grace Montessori School</h1>
          <iframe class="kid_video" width="560" height="315" src="https://www.youtube.com/embed/kvkuD7XzOKA?rel=0&vq=hd720" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
</section>

<section class="hero-wrap hero-wrap-2" style="background-image: url(https://drive.google.com/uc?export=view&id=1ObTZ_408sLpqU65d9ObOuEIINhTiPBTZ);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">Admission in Progress</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="/admission" class="btn btn-secondary px-4 py-3" style="background: linear-gradient(247deg, rgba(203,23,23,1) 0%, rgba(240,71,71,0.9468164336815309) 100%);  border: thin #f005d0; text-shadow: 2px 2px 7px #000000; "><b>ENROLL NOW</b></a></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <h2 class="mb-4" style="color: rgba(203,23,23,1);"><span style="color: rgba(240,71,71,0.9468164336815309); ">What Parents</span> Say About Us</h2>
        <p>Owing to our hard work and commitment to both parents and kids, Here are some of the testimonies our parents give about our wonderful school.</p>
      </div>
    </div>
    <div class="row ftco-animate justify-content-center">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(https://drive.google.com/uc?export=view&id=1DJlKdb9xb15OMHinp5kbo8GBbjNSKTcH)">
              </div>
              <div class="text ml-2 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Amazing Grace Montessori School indeed is Amazing! The School is filled with love from the management team downwards to the staff. God bless the school for the unconditional love shown to both kids and parents. Long live AGMS, Kudos to All.</p>
                <p class="name">Janet Ofori</p>
                <span class="position">Mother</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(https://drive.google.com/uc?export=view&id=1aYuffHqbzdlliqGJklQEO_-gz8unc53L)">
              </div>
              <div class="text ml-2 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>A God fearing and child friendly Montessori school. You need to experience it to know it. Thumps up staff and management.</p>
                <p class="name">Emmanuel Osei</p>
                <span class="position">Father</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(https://drive.google.com/uc?export=view&id=1Z3AS4sLxZzd_h5Xs3ZiNLYYsQVBIczH4)">
              </div>
              <div class="text ml-2 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>I wish I could rate more than 5 stars for this school. It is truly an amazing school. Big ups to all the teachers.</p>
                <p class="name">Nana Ama</p>
                <span class="position">Mother</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(https://drive.google.com/uc?export=view&id=1MniSLt33x0R872VPjoJU8a7YUZdm-JTt)">
              </div>
              <div class="text ml-2 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Excellent job being done there. Kudos to the Management.</p>
                <p class="name">Adiepena Kuukua Asante-Agyemang</p>
                <span class="position">Mother</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
