{% extends 'base.html'%}

{% block title %} <title>Gallery | AGMS</title> {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url(https://drive.google.com/uc?export=view&id=1ObTZ_408sLpqU65d9ObOuEIINhTiPBTZ);">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">Gallery</h1>
            <p class="breadcrumbs" style="text-shadow: 2px 2px 7px #000000;"><span class="mr-2"><a href="/home" >Home <i class="ion-ios-arrow-forward"></i></a></span> <span> Gallery <i class="ion-ios-arrow-forward"></i> Album</span></p>
            </div>
        </div>
        </div>
    </section>
    <br>
<!--GALLERY-->
    <br>
    <section class="ftco-gallery">
        <div class="container-wrap">
            <div class="row no-gutters">
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=103QOaK07rtewgqYbVW7puJLDmGb2K0Ud" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=103QOaK07rtewgqYbVW7puJLDmGb2K0Ud);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=1HAD5t08iD49vvhQze4N2SXVVaDRa5Pjp" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1HAD5t08iD49vvhQze4N2SXVVaDRa5Pjp);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=1IXYdJG2CxLKziuEkRUatPAIXCc3_vX1t" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1IXYdJG2CxLKziuEkRUatPAIXCc3_vX1t);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="https://drive.google.com/uc?export=view&id=1YaWD_wHTdoexpgMNx5WCVVzbcBj7UrUC" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1YaWD_wHTdoexpgMNx5WCVVzbcBj7UrUC);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-picture-o"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1juZMeARpowwymeTSTUY-kFDY0EKw7HgW" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1juZMeARpowwymeTSTUY-kFDY0EKw7HgW);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1_S-mxQkjebZoznLh1mK0K_IbetrGyQJw" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1_S-mxQkjebZoznLh1mK0K_IbetrGyQJw);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1oDznoD4LJEs0Mpf9PPvM-JniTxu6dQeq" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1oDznoD4LJEs0Mpf9PPvM-JniTxu6dQeq);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1PDA8hR_9tDOGlkN_jAzyi-6sk49hwxKr" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1PDA8hR_9tDOGlkN_jAzyi-6sk49hwxKr);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1nnF0jVuVOrpTd_PrSIVBYVEBttACx6yC" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1nnF0jVuVOrpTd_PrSIVBYVEBttACx6yC);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <a href="https://drive.google.com/uc?export=view&id=1LTcWNGB9N2k8VHBkgixIDQsjuSSeP3Vv" class="gallery image-popup img d-flex align-items-center" style="background-image: url(https://drive.google.com/uc?export=view&id=1LTcWNGB9N2k8VHBkgixIDQsjuSSeP3Vv);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-picture-o"></span>
                        </div>
                        </a>
                    </div>
            </div>
        </div>
    </section>
    <br><br>
{% endblock %}